<!DOCTYPE html>
<html>
  <head>
    <title>Sns</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 50px;
        padding-left: 50px;
      }
    </style>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid">

      <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">微微微博</a>
        </div>


        <div>
          <div> 
            <ul class="nav navbar-nav">
              <li class="active"><span class="glyphicon glyphicon-home"><%= link_to "首页", user_page_admin_user_path(:id => current_user.id) %>首页</span></li>
              <li><a href="#shop"><span class="glyphicon glyphicon-search">发现</span></a></li>
              <li><a href="#support"><span class="glyphicon glyphicon-user"><%= current_user.name %></span></a></li>
            </ul>
          </div> 
          <div> 
            <ul class="nav navbar-nav">
              <li><a href="#support"><span class="glyphicon glyphicon-wrench"></span></a></li>
              <li><a href="#support"><span class="glyphicon glyphicon-send"></span></a></li>
            </ul>
          </div> 
        </div>

        <div> 
          <form class="form-search">
            <input class="input-medium search-query" type="text" /> <button type="submit" class="btn">查找</button>
          </form>   
        </div> 

      </div>

      <div class="row-fluid">
          <%= yield %>
      </div>

      <div class="row-fluid">
      </div>

    </div>
  </body>
</html>
